@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #AFD7D9;
}

label{
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 12px 24px ;
    background: #f4f4f4;
    font-size: 16px;
    color: black;
    gap: 12px;
}

input[type='time']{
    padding: 12px 24px ;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}